<h3 class = "dashboard_head">Dashboard</h3>
<div class="dashboard">
  <h3>Welcome to the Inventory System</h3>
<p>You have <%=SalesItem.count(:name) %> items defined in the system</p>
  <p>The <span id="avg" class="average">average</span> price of sales items is $<%=SalesItem.average(:price).round(2) %></p>
</div>
<p id = "avg_show" class = "avg_desc">The average is the sum divided by the count.</p>
