// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3.dashboard_head {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: darkgreen;
  text-decoration: underline;
}
p.avg_desc {
  font-family: "Arial", Helvetica, sans-seriff;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
  color: green;
  padding: 10px;

}


h3 {

   font-size: 20px;
   font-weight: bold;

 }

span.average {

  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

div.dashboard {

  width: 450px;
  padding: 10px 25px 10px 25px;
  border: 1px solid blue;
  text-align: center;

  margin: 0 auto;
}
;