#header {

  background-color: dodgerblue;
  padding: 20px;
  font-size: 16pt;

  a {
    color: white;
    &:hover {
      color:yellow;
      background-color: dodgerblue;
    }
  }

}
table {

  table-layout: fixed;
  border-spacing: 100px;
  border-collapse: collapse;
  box-shadow: 10px 10px 5px #888888;

}
table, th, td {
  border: 1px solid black;


}
td {
  padding-right: 50px;
}

;
